<h1>Contact Form</h1>
 <%= error_messages_for :contact %>
 <%= form_for :contact, :action => url(:contacts) do %>
      <div><%= text_field :name, :label => 'Name' %></div>
      <div><%= text_field :email,  :label => 'Email' %></div>
      <div><%= text_area :message, :label => 'Message' %></div>
      <%= submit 'Send' %>
 <% end =%>

